{
  "plugins": ["@babel/plugin-proposal-throw-expressions"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 10,
          "browsers": ["last 1 Chrome version"]
        }
      }
    ],
    "@babel/preset-react"
  ]
}
